<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="com.numbersorting.applicationJars">
	<resources>
		<resource-root path="jackson-annotations-2.5.1.jar" />
		<resource-root path="jackson-core-2.5.1.jar" />
		<resource-root path="jackson-databind-2.5.1.jar" />
		<resource-root path="javax.json-api-1.0.jar" />
		<resource-root path="log4j-1.2.16.jar" />
		<resource-root path="spring-aop-4.1.3.RELEASE.jar" />
		<resource-root path="spring-beans-4.1.3.RELEASE.jar" />
		<resource-root path="spring-context-4.1.3.RELEASE.jar" />
		<resource-root path="spring-context-support-4.1.3.RELEASE.jar" />
		<resource-root path="spring-core-4.1.3.RELEASE.jar" />
		<resource-root path="spring-expression-4.1.3.RELEASE.jar" />
		<resource-root path="spring-jdbc-4.1.3.RELEASE.jar" />
		<resource-root path="spring-orm-4.1.3.RELEASE.jar" />
		<resource-root path="spring-oxm-4.1.3.RELEASE.jar" />
		<resource-root path="spring-security-config-4.0.1.RELEASE.jar" />
		<resource-root path="spring-security-core-4.0.1.RELEASE.jar" />
		<resource-root path="spring-security-web-4.0.1.RELEASE.jar" />
		<resource-root path="spring-tx-4.1.3.RELEASE.jar" />
		<resource-root path="spring-web-4.1.3.RELEASE.jar" />
		<resource-root path="spring-webmvc-4.1.3.RELEASE.jar" />
		<resource-root path="spring-webmvc-portlet-4.1.3.RELEASE.jar" />
		<resource-root path="servlet-api-3.0-alpha-1.jar" />
		<resource-root path="ojdbc14-10.2.0.2.jar" />
		<resource-root path="commons-logging-1.1.1.jar" />
		<resource-root path="aopalliance-1.0.jar" />
	</resources>
	<dependencies>
		<module name="sun.jdk" />
		<module name="com.sun.jsf-impl" />
		<module name="asm.asm" />
		<module name="javax.faces.api" />
		<module name="javax.annotation.api" />
		<module name="javax.persistence.api" />
		<module name="javax.transaction.api" />
		<module name="javax.servlet.api" />
		<module name="javax.servlet.jstl.api" />
		<module name="javax.validation.api" />
		<module name="javax.mail.api" />
		<module name="javax.jms.api" />
		<module name="javax.xml.bind.api" />
		<module name="org.jboss.common-core" />
		<module name="org.antlr" />
		<module name="org.dom4j" />
		<module name="org.infinispan" optional="true" />
		<module name="org.javassist" />
		<module name="org.slf4j" />
		<module name="org.apache.xerces" services="import" />
		<module name="org.jboss.logging" />
		<module name="org.hibernate.validator" services="import" />
		<module name="org.jboss.vfs" />
	</dependencies>
</module>